<div class="container">
    <div class="col-md-6 mx-auto mt-5 pt-5">
        <div class="card" style="border-radius: 10px;">
            <div class="card-header">
                <h1 class="text-danger text-center">Login Here</h1>
            </div>
            <div class="card-body">
                <div class="form">
                    <div class="row g-3">
                        <div class="col-md-9 mx-auto">
                            <input type="email" placeholder="Enter Your Email" class="form-control">
                        </div>
                        <div class="col-md-9 mx-auto">
                            <input type="password" placeholder="Enter Your Password" class="form-control">
                        </div>
                        <div class="col-md-12 text-center">
                            <button routerLink="/dashboard" class="btn btn-danger">Login</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p>Don't have an account? <a routerLink="/registration" class="text-danger" href="">Register</a></p>
            </div>
        </div>
    </div>
</div>
