<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card my-4 shadow" style="border-radius: 10px;">
                <img class="img-fluid mx-auto" src="../../assets/images/display1.jpg" style="height: 500px; width:500px" alt="">
                <div class="card-body text-center">
                    <h6 class="text-muted">Electronics</h6>
                    <small class="text-success">Ksh 10000</small>
                    <h5 class="card-title">Wireless Headsets</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quibusdam nam est, atque, voluptatibus delectus 
                        explicabo, reiciendis eos non similique eligendi vitae sapiente tempora porro ut placeat suscipit. Est, in?
                    </p>
                    <button class="btn btn-outline-danger">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <h5 class="text-danger py-3">Related Products</h5>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
			<div class="card border border-white">
                <img src="../../assets/images/display1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="text-muted">Electronics</h6>
                    <small class="text-success">ksh 10000</small>
                    <h5 class="card-title">Gaming Headset 32db Blackbuilt in mic</h5>
                    <button routerLink="/product/1" class="btn btn-outline-danger">Add to Cart</button>
                </div>
            </div>
		</div> 
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
			<div class="card border border-white">
                <img src="../../assets/images/display2.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="text-muted">Electronics</h6>
                    <small class="text-success">ksh 10000</small>
                    <h5 class="card-title">Canon camera 20x zoom, Black color EOS 2000</h5>
                    <button class="btn btn-outline-danger">Add to Cart</button>
                </div>
            </div>
		</div> 
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
			<div class="card border border-white">
                <img src="../../assets/images/display3.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="text-muted">Electronics</h6>
                    <small class="text-success">ksh 10000</small>
                    <h5 class="card-title">Xiaomi Redmi 8 Original Global Version 4GB</h5>
                    <button class="btn btn-outline-danger">Add to Cart</button>
                </div>
            </div>
		</div> 
        <div class="col-lg-3 col-md-6 col-sm-6 mb-2">
			<div class="card border border-white">
                <img src="../../assets/images/display4.jpg" class="card-img-top" alt="">
                <div class="card-body">
                    <h6 class="text-muted">Electronics</h6>
                    <small class="text-success">ksh 10000</small>
                    <h5 class="card-title">Apple iPhone 12 Pro 6.1" RAM 6GB 512GB Unlocked</h5>
                    <button class="btn btn-outline-danger">Add to Cart</button>
                </div>
            </div>
		</div> 
    </div>
</div>