<div class="container">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card" style="border-radius: 10px;">
            <div class="card-header">
                <h1 class="text-danger text-center">Register Here</h1>
            </div>
            <div class="card-body">
                <div class="form">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <input type="text" placeholder="Enter Your Full Name" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="email" placeholder="Enter Your Email" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="number" placeholder="Enter Your Phone Number" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <select name="category" id="category" class="form-select">
                                <option selected value="">Choose Your Prefered Good...</option>
                                <option value="electronics">Electronics</option>
                                <option value="clothes">Clothes</option>
                                <option value="accessories">Accessories</option>
                                <option value="shoes">Shoes</option>
                                <option value="stationery">Stationery</option>
                                <option value="utensils">Utensils</option>
                                <option value="furniture">Furniture</option>
                                <option value="tools">Tools</option>
                                <option value="games">Games</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="password" placeholder="Enter Your Password" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <input type="password" placeholder="Confirm Your Password" class="form-control">
                        </div>
                        <div class="col-md-12 text-center">
                            <button class="btn btn-danger">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center">
                <p>Already have an account? <a class="text-danger" href="">Login</a></p>
            </div>
        </div>
    </div>
</div>
